$text: #212529;
$color1: #FFFFFF;
$color2: #DEE2E6;
$color3: #F1F3F5;
$color4: #00000029;
$color5: #ADB5BD;
$color6: #E9ECEF;
$color7: #212529;
$color8: #868E96;
$color9: #0000001A;
$color10: #12B886;
