@use 'color';
@import url('//fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  color: color.$text-primary;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// If you need to style the #app element
 :global(#app) {
   align-items: center;
   background: linear-gradient(180deg, color.$bg-gradient-from 0%, color.$bg-gradient-to 100%);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 100vh;
   width: 100%;
 }
//For debugging:
//* {
//  outline: 1px dashed rgba(255,0,0,0.33);
//}
