$cyan = #12B886;
$red = #FA5252;
$text-primary = #212529;
$text-secondary = #868E96;
$input-placeholder = #ADB5BD;
$input-bg = #F1F3F5;
$bg-gradient-from = #FFFFFF;
$bg-gradient-to = #DEE2E6;
$list-item-hover-bg = #FFF;
$list-item-hover-shadow = #0000000D;
$list-item-divider = #E9ECEF;